[package]
name = "pecker"
version = "0.1.0"
authors = ["c10t <c10t@fa.ke>"]
edition = "2018"

[dependencies]
reqwest = "*"
serde = "*"
serde_json = "*"
serde_derive = "*"
tokio = { version = "0.2", features = ["macros"] }
